::ng-deep .ngx-pagination li:not(.ngx-pagination-ellipsis) {
  color: red !important;
  background: #FFFFFF;
}

::ng-deep .ngx-pagination li.active a {
  background-color: red !important;
  border-color: red !important;
}
