.back{
  color: #FFFFFF;
  border-radius: 30px 0 0 30px;
  border: none;
  padding: 5px;
  display: inline-block;
  background-color: #FF0000;
  cursor: pointer;
  margin: 10px;
}

.grades{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #FF0000;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.grades{
  border: 1px solid black;
  border-radius: 5px;

}
.grade{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}


.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}



.confirm button {
  font-size: 16px;
  background-color: #FF0000;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  width: 40%;
  padding: 10px;
  cursor: pointer;
}
